/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea/inspectionProfiles/Project_Default.xml
.idea/vcs.xml
public/public/images/Jgg9et0dALhzM68AG4Xl0Sv2NJKvxo2SG0Br336F.jpg
